.article {
  line-height: 36px;
  font-weight: 400;
  font-size: 20px;
  color: #111111;

  ol,
  ul {
    list-style-type: initial;
    padding-left: 25px;
  }

  h1 {
    font-weight: 700;
    color: #111827;
    font-size: 40px;
    line-height: 48px;
    margin-top: 44px;
    margin-bottom: 28px;
  }

  h2 {
    font-weight: 700;
    color: #111827;
    font-size: 36px;
    line-height: 40px;
    margin-top: 42px;
    margin-bottom: 28px;
  }

  h3 {
    font-weight: 600;
    color: #111827;
    font-size: 32px;
    line-height: 36px;
    margin-top: 40px;
    margin-bottom: 28px;
  }

  p {
    line-height: 36px;
    font-weight: 400;
    font-size: 20px;
    color: #111111;
    margin: 24px 0;
  }

  strong,
  em {
    font-weight: 600;
    color: #111827;
  }

  a {
    font-weight: 500;
    text-decoration: underline;
  }

  code {
    background: #1e293b;
    color: #e5e7eb;
    padding: 0.2rem 0.5rem;
    border-radius: 7px;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    background: #f0efed;
  }

  pre {
    background: #1e293b;
    color: #e5e7eb;
    border-radius: 5px;
    border: 1px solid #1f2937;
    margin: 32px 0;
    padding: 20px;
    overflow: auto;
    width: 100%;
    code {
      background: transparent !important;
      color: #e5e7eb;
    }
  }

  ul,
  ol {
    margin: 24px 0;
  }

  li {
    margin: 18px 0;
  }

  blockquote {
    border-color: #e2e8f0;
    font-style: italic;
    margin: 32px 0;
  }
}

body.dark {
  * {
    color: #fafafa;
  }

  code {
    background: #1e293b;
    color: #e5e7eb;
  }

  pre {
    background: #1e293b;
    color: #e5e7eb;
    code {
      background: transparent !important;
    }
  }
}

@media screen and (max-width: 1024px) {
  .article {
    font-size: 18px;
    line-height: 32px;
  }
  
  h1 {
    font-size: 34px;
    line-height: 44px;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  h3 {
    font-size: 26px;
    line-height: 36px;
  }

  pre code {
    font-size: 16px;
    line-height: 28px;
  }
}
