@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
// import editor.css from styles folder
@import url("editor.css");
@import url("prosemirror.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  font-family: "Inter", "Poppins" !important;
  scroll-behavior: smooth;
}

.max-height-one {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
.max-height-two {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
.max-height-three {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
.max-height-four {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.anouncement {
  background-image: url("/anouncement-bg-light.png");
  background-size: cover;
  -webkit-background-position: center;
  background-position: center;
  background-repeat: no-repeat;
}

body.dark .anouncement {
  background-image: url("/anouncement-bg.png");
  background-size: cover;
  -webkit-background-position: center;
  background-position: center;
  background-repeat: no-repeat;
}

.text-limit-horizontal {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 70%;
  text-overflow: ellipsis;
}

.hamburger_menu {
  transition: transform 0.3s ease-in-out;
}

.hamburger_menu.inactive {
  transform: translateX(-100%);
}

.hamburger_menu.active {
  transform: translateX(0);
}

.btn-link {
  @apply text-base font-medium text-gray-700 hover:text-gray-500 hover:underline dark:text-text-secondary dark:hover:text-text-secondary;
}
.btn-outline {
  @apply rounded-full border border-border-light bg-transparent px-4 py-2 font-medium text-black hover:bg-gray-200 dark:border-border dark:text-secondary hover:dark:bg-primary-light;
}
.btn-outline-small {
  @apply rounded-full border border-border-light bg-transparent px-3 py-1 text-sm font-medium text-black hover:bg-gray-200 dark:border-border dark:text-white hover:dark:bg-primary-light;
}
.btn-tertiary {
  @apply rounded-full border border-black bg-black px-4 py-2 text-sm font-medium text-white transition duration-150 hover:border-primary-light hover:bg-primary-light dark:hover:bg-primary-light;
}
.btn-filled {
  @apply rounded-full border border-secondary bg-secondary px-4 py-2 text-sm font-medium text-white transition duration-150 hover:border-blue-500 hover:bg-blue-500 hover:shadow-md;
}
.btn-filled-large {
  @apply rounded-full border border-secondary bg-secondary px-6 py-3 text-lg font-medium tracking-wider text-white transition duration-150 hover:border-blue-500 hover:bg-blue-500 hover:shadow-md;
}
.btn-oauth {
  @apply flex items-center justify-center gap-2 rounded-full border border-border-light bg-transparent px-6 py-3 text-base font-medium tracking-wider text-gray-700 transition duration-150 hover:border-border-light hover:bg-light-bg hover:shadow-md dark:border-primary-light dark:bg-primary-light dark:text-white dark:hover:bg-border;
}
.btn-follow {
  @apply flex items-center justify-center rounded-full border border-border-light bg-white px-4 py-2 text-sm font-medium text-secondary hover:bg-gray-100 dark:border-border;
}
.btn-follow-filled {
  @apply flex items-center justify-center rounded-full border border-border-light bg-secondary px-4 py-2 text-base font-medium text-white transition duration-150 hover:bg-blue-500 dark:border-border;
}
.btn-subtle {
  @apply rounded-full border border-transparent bg-primary bg-transparent px-4 py-2 font-medium text-black hover:bg-gray-200 dark:text-white hover:dark:bg-primary-light;
}
.btn-icon {
  @apply items-center justify-center rounded-full border border-transparent hover:bg-gray-200  dark:hover:border-border dark:hover:bg-primary-light;
}

.btn-icon-outline {
  @apply flex h-11 w-11 items-center justify-center rounded-full border hover:bg-gray-200 dark:border-border dark:hover:bg-primary-light;
}
.btn-icon-small {
  @apply h-8 w-8 items-center justify-center rounded-full border border-transparent  hover:bg-gray-200  dark:hover:border-border dark:hover:bg-primary-light;
}
.btn-icon-large {
  @apply h-10 w-10 items-center justify-center rounded-full border border-transparent  hover:bg-gray-200  dark:hover:border-border dark:hover:bg-primary-light;
}
.btn-tab {
  @apply flex items-center gap-2 rounded-t border-b border-transparent bg-white px-2 py-3 text-gray-700 hover:bg-border-light dark:bg-primary dark:text-text-secondary dark:hover:bg-primary-light;
}
.btn-tab-active {
  @apply flex items-center gap-2 rounded-t border-b border-secondary bg-white px-2 py-3 text-secondary hover:bg-border-light dark:bg-primary dark:hover:bg-primary-light;
}
.btn-tab-secondary {
  @apply flex items-center gap-2 rounded-t bg-white px-2 py-3 text-gray-700 hover:bg-border-light dark:bg-transparent dark:text-text-secondary dark:hover:bg-primary-light;
}

.input-primary {
  @apply rounded-full border border-border-light bg-light-bg px-10 py-2 text-lg text-gray-700 outline-none transition-[ring] duration-100 focus:ring-1 focus:ring-secondary dark:border-border dark:bg-transparent dark:text-text-secondary hover:dark:border-border;
}
.input-primary::-webkit-input-placeholder {
  opacity: 0.5;
}

.input-filled {
  @apply w-full rounded-md border border-border-light bg-light-bg px-4 py-3 text-base text-gray-700 outline-none transition-[ring] duration-100 focus:ring-1 focus:ring-secondary dark:border-border dark:bg-primary-light dark:text-text-secondary hover:dark:border-border dark:focus:bg-primary;
}
body.dark .input-filled.input-with-opacity::-webkit-input-placeholder {
  opacity: 0.5;
}
.input-filled::-webkit-input-placeholder {
  opacity: 0.7;
}
body.dark .input-filled.input-with-opacity::-moz-placeholder {
  opacity: 0.5;
}
.input-filled::-moz-placeholder {
  opacity: 0.7;
}

.input-outline {
  @apply w-full bg-transparent p-2 text-lg text-gray-700 outline-none dark:text-text-secondary;
}
body.dark .input-outline.input-with-opacity::-webkit-input-placeholder {
  opacity: 0.5;
}
.input-outline::-webkit-input-placeholder {
  opacity: 0.7;
}
body.dark .input-outline.input-with-opacity::-moz-placeholder {
  opacity: 0.5;
}
.input-outline::-moz-placeholder {
  opacity: 0.7;
}

.input-secondary {
  @apply w-full rounded-md border border-border-light bg-light-bg px-4 py-2 text-lg text-gray-700 outline-none transition-[ring] duration-100 focus:ring-1 focus:ring-secondary dark:border-border dark:bg-transparent dark:text-text-secondary hover:dark:border-border dark:focus:bg-border;
}
body.dark .input-secondary.input-with-opacity::-webkit-input-placeholder {
  opacity: 0.5;
}
.input-secondary::-webkit-input-placeholder {
  opacity: 0.7;
}
body.dark .input-secondary.input-with-opacity::-moz-placeholder {
  opacity: 0.5;
}
.input-secondary::-moz-placeholder {
  opacity: 0.7;
}
.input-oauth {
  @apply w-full rounded-full border border-border-light bg-light-bg px-6 py-3 text-lg font-medium text-gray-700 outline-none transition-[ring] duration-100 focus:ring-1 focus:ring-secondary dark:border-border dark:bg-primary-light dark:text-text-secondary hover:dark:border-border dark:focus:bg-border;
}

.btn-social-icon:hover svg,
.btn-social-icon:hover path {
  fill: white;
}
.btn-social-icon {
  @apply flex items-center justify-center rounded-md;
}

.mantine-UnstyledButton-root.mantine-RichTextEditor-control.mantine-f6e83k {
  border-color: #d4d7dacc;
}
body.dark
  .mantine-UnstyledButton-root.mantine-RichTextEditor-control.mantine-f6e83k {
  border-color: #2c3646;
}

body.dark
  .mantine-UnstyledButton-root.mantine-RichTextEditor-control.mantine-f6e83k
  svg {
  stroke: #94a3b8;
}
body.dark
  .mantine-UnstyledButton-root.mantine-RichTextEditor-control.mantine-f6e83k:hover {
  background: #1e293b;
}
body.dark
  .mantine-UnstyledButton-root.mantine-RichTextEditor-control.mantine-f6e83k:hover
  svg {
  stroke: #f8fafc;
}

body.dark .mantine-f6e83k[data-active] svg {
  stroke: white !important;
}
body.dark .mantine-f6e83k[data-active] {
  background: #1e293b;
}
.mantine-RichTextEditor-content.mantine-1drwy5n .ProseMirror ul,
.mantine-RichTextEditor-content.mantine-1drwy5n .ProseMirror ol {
  list-style: auto !important;
}
body.dark .mantine-RichTextEditor-content.mantine-1drwy5n .ProseMirror pre {
  background: #1e293b;
  color: #e2e8f0 !important;
}
body.dark
  .mantine-RichTextEditor-content.mantine-1drwy5n
  .ProseMirror
  pre
  code {
  background: transparent !important;
}

.ProseMirror {
  min-height: 70vh;
  border-radius: 0 0 2.5px 2.5px;
}
body.dark .mantine-RichTextEditor-content.mantine-1drwy5n .ProseMirror code {
  background: #1e293b;
  border-color: #2c3646;
  color: #e2e8f0 !important;
}
body.dark .mantine-RichTextEditor-content.mantine-1drwy5n .ProseMirror {
  background: #0f172a;
  color: #e2e8f0 !important;
}

button:focus-visible {
  outline: 1px solid #e2e8f0 !important;
  color: #2563eb !important;
  background: #e2e8f0 !important;
}
button.btn-filled:focus {
  background: #2563eb;
}

body.dark button:focus-visible {
  outline: 1px solid #334155 !important;
  background: #1e293b !important;
}
body.dark button.btn-filled:focus {
  background: #2563eb;
}

/* Light theme */

.activity_date {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  flex-direction: column;
  display: flex;
  width: 6rem;
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity));
}

.activity_date_dots {
  margin-top: 0.5rem;
  width: 1px;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  border-width: 1px;
  border-style: dashed;
  --tw-border-opacity: 1;
  border-color: rgb(147 197 253 / var(--tw-border-opacity));
}

.scroll-area::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
.scroll-area::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
body.dark .scroll-area::-webkit-scrollbar-thumb {
  background: #6b7a8f;
  border-radius: 10px;
}

.scroll-area::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 10px;
}

.container-body {
  display: grid;
}
.container-aside {
  grid-column: span 2 / span 2;
}
.container-main {
  grid-column: span 7 / span 7;
}
.container-full-main {
  grid-column: span 10 / span 10;
}
.container-right-aside {
  grid-column: span 3 / span 3;
}

@media screen and (max-width: 768px) {
  .container-main {
    min-width: 0;
  }
}
@media screen and (min-width: 1024px) {
  .container-body {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

.loading {
  animation: animate-loading 2000ms linear infinite;
}

@keyframes animate-loading {
  from,
  to {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}

.commentsModal {
  animation: animate-comments 300ms ease-in-out;
}

@keyframes animate-comments {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.mantine-Group-root.mantine-RichTextEditor-toolbar.mantine-nlxhsk {
  background: transparent !important;
  border-color: #d4d7dacc !important;
}

.mantine-RichTextEditor-root.mantine-3eqw8l {
  border-color: #d4d7dacc !important;
}

body.dark .mantine-Group-root.mantine-RichTextEditor-toolbar.mantine-nlxhsk {
  border-color: #2c3646 !important;
}
body.dark .mantine-RichTextEditor-root.mantine-3eqw8l {
  border-color: #2c3646 !important;
}

/* Mention feature */

.items {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
  overflow: hidden;
  padding: 0.2rem;
  position: relative;
}

.item {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  display: block;
  margin: 0;
  padding: 0.2rem 0.4rem;
  text-align: left;
  width: 100%;
}
.item.is-selected {
  border-color: #000;
}

.mention {
  border: 1px solid #000;
  border-radius: 0.4rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem;
}

.author-blog-grid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 640px) {
  .author-blog-grid {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .author-blog-grid {
    max-width: 768px;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .author-blog-grid {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .author-blog-grid {
    max-width: 1280px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.main-block {
  grid-column: span 1 / span 1;
}

@media (min-width: 768px) {
  .main-block {
    grid-row: span 2 / span 2;
    grid-column: span 1 / span 1;
  }
}

@media (min-width: 1280px) {
  .main-block {
    grid-row: span 2 / span 2;
    grid-column: span 2 / span 2;
  }
}

.child-block {
  grid-column: span 1 / span 1;
}

// tooltip with theme
body.dark .mantine-Tooltip-tooltip.mantine-iu41h {
  background: rgb(30, 41, 59);
  color: #fafafa;
  box-shadow: 0 0 0 1px rgba(30, 41, 59, 0.05),
    0px 10px 20px rgba(30, 41, 59, 0.1);
}

.mantine-Tooltip-tooltip.mantine-iu41h {
  background: #f8fafc;
  color: #111;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

input.appearence-radio-button:checked + label > img {
  border-color: #4d7ee7;
  border-width: 3px;
}

.gradient-button {
  padding: 0.5rem 1rem;
  border-radius: 45px;
  &:hover {
    background: linear-gradient(
      208.15deg,
      rgba(52, 102, 246, 0.1) -4.22%,
      rgba(52, 102, 246, 0.1) -4.21%,
      rgba(124, 58, 237, 0.1) 102.68%
    );
    background-color: transparent !important;
  }
}

.gradient-text {
  background: linear-gradient(to bottom right, #2563eb, #9333ea);
  color: transparent !important;
  background-clip: text;
}

body.dark .hr-line-between-text {
  &::before {
    background: #2c3646;
  }

  &::after {
    background: #2c3646;
  }
}

.hr-line-between-text {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 1px;
    width: 40%;
    background: #d4d7dacc;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 1px;
    width: 40%;
    background: #d4d7dacc;
  }
}

.manageData-container > .articleCard:last-child {
  border: none !important;
}
